<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE plugin
  PUBLIC "-//GRAFFITI/DTD Plugin Description 1.0//EN"
   "http://gravisto.fmi.uni-passau.de/dtd/1.0/plugin.dtd">

<plugin>
	<author>Andreas Gleißner</author>
	<description>Sugiyama Compactor Plugin</description>

	<plugindesc>
	     <name>Sugiyama Compactor</name>
         <main>org.graffiti.plugins.algorithms.sugiyama.compactor.CompactorPlugin</main>
         <version>1.0.0</version>
         <available></available>
    </plugindesc>
</plugin>