<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE plugin
  PUBLIC "-//GRAFFITI/DTD Plugin Description 1.0//EN"
   "http://gravisto.fmi.uni-passau.de/dtd/1.0/plugin.dtd">

<plugin>
  <author>Graffiti team (rs)</author>
  <description>Filereader for the .dot-format.</description>
  <plugindesc>
    <name>Dot Reader</name>
    <main>org.graffiti.plugins.ios.importers.dot.DotReaderPlugin</main>
    <version>0.0.1</version>
    <available>This plugin is part of the graffiti distribution.</available>
  </plugindesc>
</plugin>
