<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE plugin
    PUBLIC "-//GRAFFITI/DTD Plugin Description 1.0//EN"
    "http://gravisto.fmi.uni-passau.de/dtd/1.0/plugin.dtd">
    
<plugin>
    <author>Ferdinand Huebner</author>
    <description>
    	Implementation of the Sugiyama-Algorithm for drawing a DAG
    </description>
    <plugindesc>
        <name>Sugiyama</name>
        <main>
            org.graffiti.plugins.algorithms.sugiyama.SugiyamaPlugin
        </main>
        <version>0.1</version>
        <available>
        	This plugin is part of Gravisto's Sugiyama-Framework
        </available>
    </plugindesc>
</plugin>