<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE plugin
  PUBLIC "-//GRAFFITI/DTD Plugin Description 1.0//EN"
 "http://gravisto.fmi.uni-passau.de/dtd/1.0/plugin.dtd">

<plugin>
    <author>Paul Holleis</author>
    <description>Additional attribute types.</description>

    <plugindesc>
        <name>Additional Attribute Types</name>
        <main>quoggles.auxiliary.attributes.QuogglesAttributesPlugin</main>
        <version>0.0.1</version>
        <available>Part of the Quoggles system.</available>
    </plugindesc>
</plugin>
