<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>The Title goes here</title>
</head>

<body>
<h1>The Title goes here</h1>



<hr>
<address>
<a href="http://www.fmi.uni-passau.de/~himsolt" target=_top>M. Himsolt</a>
</address>
<!-- hhmts start -->
Last modified: Sat Oct 19 19:55:11 MET DST 1996
<!-- hhmts end -->
</body> </html>
