<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE plugin
  PUBLIC "-//GRAFFITI/DTD Plugin Description 1.0//EN"
 "http://gravisto.fmi.uni-passau.de/dtd/1.0/plugin.dtd">

<plugin>
    <author>Andreas Gleißner</author>
    <description>A tool for changing the zoom of View2D views.</description>

    <plugindesc>
        <name>Fast Zoom</name>
        <main>org.graffiti.plugins.tools.fast.zoom.FastZoomPlugin</main>
        <version>0.0.1</version>
        <available></available>
    </plugindesc>
</plugin>