<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE plugin
  PUBLIC "-//GRAFFITI/DTD Plugin Description 1.0//EN"
   "http://gravisto.fmi.uni-passau.de/dtd/1.0/plugin.dtd">

<plugin>
	<author>chris</author>
	<description>Graphical user interface component test.</description>

	<plugindesc>
	     <name>GuiComponent Test Plugin</name>
             <main>de.chris.plugins.guis.test.GuiComponentsTestPlugin</main>
             <version>0.0.1</version>
             <available></available>
        </plugindesc>
</plugin>
