<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE plugin
  PUBLIC "-//GRAFFITI/DTD Plugin Description 1.0//EN"
   "http://gravisto.fmi.uni-passau.de/dtd/1.0/plugin.dtd">

<plugin>
	<author>ph</author>
	<description>Get connected component for marked node.
		Constrain allowed edges by specifying that an attribute
		has to have a specified value.</description>

	<plugindesc>
	     <name>Connected Component Algorithm (special)</name>
         <main>org.graffiti.plugins.algorithms.connectspecial.ConnectSpecialPlugin</main>
         <version>0.0.1</version>
         <available></available>
    </plugindesc>
</plugin>
