<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE plugin
  PUBLIC "-//GRAFFITI/DTD Plugin Description 1.0//EN"
 "http://gravisto.fmi.uni-passau.de/dtd/1.0/plugin.dtd">

<plugin>
    <author>Graffiti team</author>
    <description>The default attribute types.</description>

    <plugindesc>
        <name>EditComponent Test Plugin</name>
        <main>de.chris.plugins.editcomponents.test.EditComponentTestPlugin</main>
        <version>1.0.0</version>
        <available>This plugin is part of the tool guide.</available>
    </plugindesc>
</plugin>
