<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE plugin
  PUBLIC "-//GRAFFITI/DTD Plugin Description 1.0//EN"
   "http://gravisto.fmi.uni-passau.de/dtd/1.0/plugin.dtd">

<plugin>
	<author>Paul Holleis</author>
	<description>GDC Graph Format Writer.</description>

	<plugindesc>
	    <name>GDC Graph Format Writer</name>
        <main>org.graffiti.plugins.ios.exporters.gdc.GDCSerializerPlugin</main>
        <version>0.0.1</version>
        <available></available>
    </plugindesc>
</plugin>
